/**
 * @file
 * Subtheme specific CSS.
 */
.header-top {
    padding: 2px 0;
    border-bottom: 1px solid #dee1e5;
}
.nav-link {
    color: #232426;
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.icon-start {
    margin-right: 17px;
}
.btn-clear {
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}
.navbar-nav li:first-child .nav-link {
    padding-left: 0 !important;
}
/* -------*/
.product-container {
    margin: 30px 0;
}

.product-item {
    border-style: solid;
    margin: 10px;
    padding: 20px;
}

.product-image {
    height: 200px;
}

.product-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description-box {
    border: none;
    outline: none;
    color: black;
}

.no-resize {
    resize: none;
}

#navbar-main {
    background-color: white !important;
}

#block-promotionsblock {
    width: 100%;
}

.header-container {
    margin-left: 80px;
}

.web-logo {
    width: 200px;
    height: 67px;
}

.header-search-bar {
    background-color: #eff0f2;
    border-radius: 5px;
    margin-left: 40px;
}

.header-search-bar:focus {
    outline: #0d6efd !important;
}

.header-search-icon {
    margin-top: 12px;
    width: 17px;
    height: 17px;
}

.header-input {
    border: 0;
    outline: 0;
    width: 100%;
    height: 40px;
    background-color: transparent;
}

.header-input:focus {
    outline: none !important;
}

.header-input::placeholder {
    /* font-family: 'Montserrat'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #8a9197;
}

.search-blue {
    cursor: pointer;
    filter: invert(47%) sepia(100%) saturate(6034%) hue-rotate(214deg)
        brightness(109%) contrast(102%); /* #0D6EFD; */
}

.header-cart-icon {
    margin-top: 15px;
    width: 20px;
    height: 20px;
}

.header-cart-text {
    /* font-family: 'Montserrat'; */
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #232426;
}

.divider {
    margin-top: 2px;
    height: 2px;
    width: 100%;
    background-color: #eff0f2;
}

.header-menus {
    margin-top: 10px;
    margin-bottom: 10px;
}

.headerMenuParent {
    position: fixed;
    left: 0px;
    top: 75px;
    z-index: 8;
    height: 100%;
    overflow-y: scroll;
}

.headerMenuShadow {
    position: fixed;
    left: 0px;
    top: 75px;
    z-index: 9;
    height: 100%;
    width: 100%;
    background-color: #8989897e;
}

.header-close-icon {
    position: fixed;
    left: 380px;
    top: 90px;
    z-index: 10;
    cursor: pointer;
    filter: invert(100%) sepia(0%) saturate(7396%) hue-rotate(294deg)
        brightness(114%) contrast(95%); /* #F9F9F9; */
}

.headerMenuChild {
    background-color: #f9f9f9;
    position: relative;
    z-index: 10;
    height: 100%;
    width: 365px;
}

.header-account-icon {
    filter: invert(47%) sepia(100%) saturate(6034%) hue-rotate(214deg)
        brightness(109%) contrast(102%); /* #0D6EFD; */
}

.footer-top {
    margin-left: 0px;
    padding: 20px 90px;
}

.footer-bottom {
    padding: 10px 90px;
}

.footer-column-title {
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.footer-column-option {
    padding-left: 10px;
    /* font-family: 'Montserrat'; */
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}

.footer-bottom-text {
    /* font-family: 'Montserrat'; */
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.footer-logo {
    margin-left: 15px;
}

.footer-svg {
    filter: invert(86%) sepia(9%) saturate(182%) hue-rotate(166deg)
        brightness(91%) contrast(90%);
}

.footer-bottom-icons {
    padding-top: 15px;
}
